body {
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(#CBF3F0, #2EC4B6);
    display: flex;
    flex-direction: column;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: underline;
}

.top {
    text-align: center;
    color: #13756C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 30px;
}

.playbuttons button {
    background: none;
    border: 5px solid #FF9F1C;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #13756C;
    transition: 0.25s;
    font-size: 30px;
    font-weight: 800;
}

.playbuttons button:hover,
.playbuttons button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #FFBF69;
  transform: translateY(-0.25em);
}

.roundresults,
.gameresults {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #13756C
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #13756C
}

/* ADJUST */
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;

}

.footer {
    background-color: #071a2b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}